<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add New Author</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Add New Author</h1>
</header>
<main>
    <form method="post">
        <label for="name">First name:</label>
        <input type="text" id="name" name="name" required><br/>

        <label for="surname">Last name:</label>
        <input type="text" id="surname" name="surname" required><br/>

        <label for="biography">Biography:</label>
        <input type="text" id="biography" name="biography"><br/>

        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" required></br>

        <input type="submit" value="Add Author">
    </form>
</main>
</body>
</html>
