<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="'Books in ' + ${bookStoreName}"></title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1 th:text="'Welcome to ' + ${bookStoreName}"></h1>
</header>
<main>
    <h2>Available books:</h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.year}"></td>
            <td>
                <a th:href="@{/books/details/{id}(id=${book.id})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
